/* Comfortaa */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Comfortaa-Light.ttf');
}
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Comfortaa-Regular.ttf');
}
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Comfortaa-Medium.ttf');
}
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Comfortaa-Bold.ttf');
}
/* Poppins */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Poppins-Light.ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Poppins-LightItalic.ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Poppins-Italic.ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Poppins-SemiBold.ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Poppins-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Poppins-BoldItalic.ttf');
}
/* Nunito */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Nunito-Light.ttf');
}
@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Nunito-LightItalic.ttf');
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Nunito-Regular.ttf');
}
@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Nunito-Italic.ttf');
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Nunito-SemiBold.ttf');
}
@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Nunito-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Nunito-Bold.ttf');
}
